[submodule "BerryFlux/vendor/spdlog"]
	path = BerryFlux/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BerryFlux/vendor/GLFW"]
	path = BerryFlux/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "BerryFlux/vendor/imgui"]
	path = BerryFlux/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "BerryFlux/vendor/glm"]
	path = BerryFlux/vendor/glm
	url = https://github.com/g-truc/glm
