[submodule "BerryFlux/vendor/spdlog"]
	path = BerryFlux/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BerryFlux/vendor/GLFW"]
	path = BerryFlux/vendor/GLFW
	url = https://github.com/TheCherno/glfw
